<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
  <!-- APPENDERS LIST -->
  <!-- show log entries on console -->
  <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
  	<param name="Threshold" value="INFO"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n"/>
    </layout>
  </appender> 

  <!-- log all logs to a separate log file every day -->
  <appender name="masterFileAppenderERR" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="${logfile}.err" />
    <param name="datePattern" value="'.'yyyy-MM-dd" />
    <param name="append" value="false" />
    <param name="Threshold" value="ERROR"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n"/>
    </layout>
  </appender>

  <!-- log all logs to a separate log file every day -->
  <appender name="slaveFileAppenderERR" class="org.apache.log4j.DailyRollingFileAppender">
  	<param name="Threshold" value="ERROR"/>
    <param name="file" value="${logfile}.err" />
    <param name="datePattern" value="'.'yyyy-MM-dd" />
    <param name="append" value="false" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n"/>
    </layout>
  </appender>
  
  <!-- master.info file -->
  <appender name="masterFileAppenderINFO" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="${logfile}.info" />
    <param name="datePattern" value="'.'yyyy-MM-dd" />
    <param name="append" value="false" />
    <param name="Threshold" value="INFO"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n"/>
    </layout>
  </appender>

  <!-- slave.info file -->
  <appender name="slaveFileAppenderINFO" class="org.apache.log4j.DailyRollingFileAppender">
  	<param name="Threshold" value="INFO"/>
    <param name="file" value="${logfile}.info" />
    <param name="datePattern" value="'.'yyyy-MM-dd" />
    <param name="append" value="false" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n"/>
    </layout>
  </appender>
  
  <!-- master.debug file -->
  <appender name="masterFileAppenderDEBUG" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="${logfile}.debug" />
    <param name="datePattern" value="'.'yyyy-MM-dd" />
    <param name="append" value="false" />
    <param name="Threshold" value="DEBUG"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n"/>
    </layout>
  </appender>

  <!-- slave.debug file -->
  <appender name="slaveFileAppenderDEBUG" class="org.apache.log4j.DailyRollingFileAppender">
  	<param name="Threshold" value="DEBUG"/>
    <param name="file" value="${logfile}.debug" />
    <param name="datePattern" value="'.'yyyy-MM-dd" />
    <param name="append" value="false" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n"/>
    </layout>
  </appender>

  <!-- LOGGER LIST -->
  <logger name="qpar.master">
    <appender-ref ref="masterFileAppenderERR"/>
    <appender-ref ref="masterFileAppenderINFO"/>
    <appender-ref ref="masterFileAppenderDEBUG"/>
  </logger>
  
  <logger name="qpar.slave">
    <appender-ref ref="slaveFileAppenderERR"/>
    <appender-ref ref="slaveFileAppenderINFO"/>
    <appender-ref ref="slaveFileAppenderDEBUG"/>
  </logger>
  
  <logger name="qpar.common">
    <appender-ref ref="masterFileAppenderERR"/>
    <appender-ref ref="masterFileAppenderINFO"/>
    <appender-ref ref="masterFileAppenderDEBUG"/>
    <appender-ref ref="slaveFileAppenderERR"/>
    <appender-ref ref="slaveFileAppenderINFO"/>
    <appender-ref ref="slaveFileAppenderDEBUG"/>
  </logger>
  
  <root>
    <priority value="info"></priority>
    <appender-ref ref="consoleAppender"/>
  </root>
</log4j:configuration>